<!DOCTYPE html>

<html>
    <head>
        <title>PROJECT TITLE HERE</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
       <link href='https://fonts.googleapis.com/css?family=Exo+2:100' rel='stylesheet' type='text/css'>
    </head>

    <body>
    	<div class="overlay">
    		<p class="intro">Get ready to invest</p>
    	</div>

    	<section class="title">
    		<div class="title-wrapper">
    			<p>We give you the right price!</P> 
    				<br></br>
    		</div>
    	</section>	
        <section class="input-fields">
        	<p>Search for your index</p>
        	<div class="input-wrapper">
        		<form id="info-form">
				    <input id="index-value" type="text" placeholder="Enter index">
				</form>
        	</div>
        	<br></br>
        	
        	<div class="input-wrapper">
        		<div class="row">
        			<div class="col-md-6">
        				<p>Enter expected date</p>
        				<input id="end-date" type="text" placeholder="Enter end date(yyyy-mm-dd)">
        			</div>

        			<div class="col-md-6">
        				<p>Enter expected price</p>
        				<input id="end-price" type="text" placeholder="Enter expected price">
        			</div>
        		</div>
        		<br></br>
        		<br></br>
        		<form id="info-form">
				    <input id="submit-button" type="submit" value="Submit">
				</form>
        	</div>
        </section>
    </body>

    <footer>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    	<script src="../static/js/main.js" type="text/javascript"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    </footer>

</html>