<!DOCTYPE html>

<html>
    <head>
        <title>Price Alert</title>
        <link rel="stylesheet" type="text/css" href="../static/css/submit_style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Exo+2:100' rel='stylesheet' type='text/css'>
        <script src="../static/js/submit.js" type="text/javascript"></script>
    </head>

    <body>
       <!--  {% for item in data %}
            {{ item.Ticker }}: <b>{{ item.Value }} </b> ({{ item.Date }}) <br>
        {% endfor %}
        {{ endPrice }} -->
        <div id="container">
        </div>

        <div class="alertbox">
        	<div class="field-wrapper">
	        	<p>The index has reached your expected value, please choose a new value or cancel.</P>
	        	<button class="cancel">Cancel</button>
	        	<p>Or</p>
	        	<input class="new-value" type="text" placeholder="Enter new value">
	        	<button class="submit">Submit</button>
	        </div>
        </div>
    </body>
    <footer>
    	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>    	
    </footer>
    <script>
    $(function () {
    		var dataArray = [];
    		var value = {{ endPrice }}
    		var keepgoing = true;
    		// var endPr
		    $('#container').highcharts({

		        title: {
		            text: 'Live Index data for {{ data[0].Ticker }}',
		            x: -20 //center
		        },
		        subtitle: {
		            text: 'Source: Bloomberg',
		            x: -20
		        },
		        xAxis:{
		        	type: "datetime"
		        },
		        yAxis: {
		            title: {
		                text: 'Index (pts)'
		            },
		            plotLines: [{
			        	color: '#ff0000',
			        	width: 2,
			        	value: {{ endPrice }}
		        	}]
		        },
		        tooltip: {
		            valueSuffix: ' pts'
		        },
		        legend: {
		            layout: 'vertical',
		            align: 'right',
		            verticalAlign: 'middle',
		            borderWidth: 0
		        },

		        series: [{
		            name: '{{ data[0].Ticker }}',
		            data: []
		        }],

		       
		    });

		    function populateData(){
		    	{% for item in data %}
		    		var date = "{{ item.Date }}".split("-");
		    		var year = parseInt(date[0]);
		    		var month = parseInt(date[1]) - 1;
		    		var day = parseInt(date[2]);
		    		// console.log(year + " " + month + " " + day);
             				dataArray.push([Date.UTC(year, month, day), {{ item.Value }}]);       
             	{% endfor %}
		    };
		    populateData();
		    		var time = 3000;
		        	var chart = $('#container').highcharts();
        			dataArray.forEach(function(data) {
        				setTimeout(function(){
        					chart.series[0].addPoint(data);
        					if(data[1] > value){
        						keepgoing = false;
        						$(".alertbox").fadeIn();
        						$.ajax({
								    type:"GET",
								    url: "/twilio",
								   success: function(response) {
						                console.log(response);
						            },
						            error: function(error) {
						                console.log(error);
						            }
								});
        						// while(!keepGoing){
        						// 	//do nothing

        						// }
        						
        					}
        				},time);
        				time+=6000;
        			}); 	
        			$(".submit").click(function(){
						value = $(".new-value").val();
						$(".alertbox").fadeOut();
						keepgoing = true;
					});

					$(".cancel").click(function(){
						$(".alertbox").fadeOut();
					});
		});
    </script>
</html>